
@{
    ViewBag.Title = "ImportInformation";
}


<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__form-fullWidth">
        <div class="form_name">
            <h4 class="form_name-tilte">
                Thêm bệnh nhân
            </h4>
        </div>
        <div class="form form__pc">
            <div class="row">
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" placeholder="Nhập dữ liệu" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <select class="form__import-select">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nu</option>
                        </select>

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Ngày sinh
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Số cccd/cmt
                        </span>
                        <input class="form__import-select" placeholder="Nhập dữ liệu" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tỉnh/Tp
                        </span>
                        <select class="form__import-select">
                            <option value="HaNoi">Hà Nội</option>
                            <option value="HungYen">Hưng Yên</option>
                        </select>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Huyện/quận
                        </span>
                        <select class="form__import-select">
                            <option value="DanPhuong">Đan Phượng</option>
                        </select>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Xã/phường
                        </span>
                        <select class="form__import-select">
                            <option value="PhuongDinh">Phương Đình</option>
                        </select>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Địa chỉ cụ thể
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <input class="form__import-select" type="date" />
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        <span class="form__import-label">
                            Tên bệnh nhân
                        </span>
                        <select class="form__import-select">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="vw">VW</option>
                            <option value="audi" selected>Audi</option>
                        </select>
                    </div>
                </div>


            </div>

            <div class="btn-container">
                <button class="btn btn-primary btn-save btn-submit">
                    Lưu thông tin
                </button>
                <button class="btn btn__reset btn-submit btn-default">
                    Đặt lại
                </button>
                <button class="btn btn__cancel btn-submit btn-default">
                    Hủy
                </button>
            </div>
        </div>
    </div>
    
</div>

