
@{
    ViewBag.Title = "ImportInformation";
}


<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm bệnh nhân
            </h4>
        </div>
        <div class="container__page-content">
            <div class="form">
                <div class="row">
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" placeholder="Nhập dữ liệu" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" placeholder="Nhập dữ liệu" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" placeholder="Nhập dữ liệu" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" placeholder="Nhập dữ liệu" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <input class="form__import-select" type="date" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bệnh nhân
                            </span>
                            <select class="form__import-select">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="vw">VW</option>
                                <option value="audi" selected>Audi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default">
                        Đặt lại
                    </button>
                    <button class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </button>
                </div>
                
            </div>
        </div>
    </div>


</div>
