
@{
    ViewBag.Title = "SearchPatient";
}

<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__form-fullWidth">
        <div class="form_name">
            <h4 class="form_name-tilte">
                Tìm kiếm bệnh nhân
            </h4>
        </div>
        <div class="form form__pc">
            <div class="row">
                <div class="col l-12 m-12 c-12">
                    <div class="search__container">
                        <input class="search__input" placeholder="Tìm kiếm" />
                        <button class="btn btn-primary btn-search btn-submit">Tìm kiếm</button>
                    </div>

                    <div class="search__data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
