@model DBCovid.models.ThongTinDieuTri
@{
    ViewBag.Title = "themThongTinDieuTri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm thông tin điều trị
            </h4>
        </div>
        <div class="container__page-content">
            <form action="/Patient/themThongTinDieuTri" class="form" method="post" id="themThongTinDieuTri">
                <div class="row">
                    @Html.HiddenFor(m => m.benhAnID)
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bênh nhân
                            </span>
                            <input class="form__import-select" type="Text" disabled value="@ViewBag.tenBenhNhan" />
                        </div>

                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Giờ phút
                            </span>
                            <input class="form__import-select" type="text" name="gioPhut" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Ngày
                            </span>
                            <input class="form__import-select" type="date" name="ngay" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Nhân viên y tế
                            </span>
                            @Html.DropDownList("nhanVienYTeID", (IEnumerable<SelectListItem>)ViewBag.nhanVienYTe, new { @class = "form__import-select", @id = "nhanVienYTe" })
                        </div>
                    </div>
                    
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tình trạng bệnh
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="tinhTrangBenh"></textarea>

                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Y lệnh
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="yLenh"></textarea>
                        </div>
                    </div>




                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default">
                        Đặt lại
                    </button>
                    <button class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>
<script src="~/Assets/js/themThongTinDieuTri.js"></script>

