
@{
    ViewBag.Title = "ChangePassword";
}

<div class="wrapper wrapper__custom-height wrapper__custom-height-mobile">
    <div class="container__form">
        <div class="name__form">
            <h4 class="name__form-tilte">
                Đăng nhập
            </h4>
        </div>
        <div class="container__page-content">
            <div class="form">
                <input class="form__input" placeholder="Tài khoản" />
                <input class="form__input" placeholder="Mật khẩu" />
                <input class="form__input" placeholder="Nhập lại mật khẩu" />


                <div class="btn-container form-btn">
                    <button class="btn btn-primary btn-submit btn-custom">
                        Đổi
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

