
@{
    ViewBag.Title = "Index";
}

<h2>Trang Chủ</h2>
<button class="btn btn-success" onclick="xuat()">xuat</button>
<script>
    function xuat() {
        window.location = "/XuatDuLieu/XuatThongTinBenhAn/?id=" + 7;
    }
</script>