
@{
    ViewBag.Title = "timkiemphong";
}

<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Tìm phòng bệnh
            </h4>
        </div>
        <div class="container__page-content">
            <div class="form">
                <div class="search__container">
                    <input class="search__input" placeholder="Nhập mã phòng" />
                    <button class="btn btn-primary btn__save btn-submit">
                        Tìm kiếm
                    </button>
                    <button onclick="redirectToRoomIndex()" class="btn btn__cancel btn-submit btn-default">
                        Quay lại
                    </button>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Michael Holz</td>
                            <td>04/10/2013</td>
                            <td>Admin</td>
                            <td><span class="status text-success">&bull;</span> Active</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td> Paula Wilson</td>
                            <td>05/08/2014</td>
                            <td>Publisher</td>
                            <td><span class="status text-success">&bull;</span> Active</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td> Antonio Moreno</td>
                            <td>11/05/2015</td>
                            <td>Publisher</td>
                            <td><span class="status text-danger">&bull;</span> Suspended</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mary Saveley</td>
                            <td>06/09/2016</td>
                            <td>Reviewer</td>
                            <td><span class="status text-success">&bull;</span> Active</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td> Martin Sommer</td>
                            <td>12/08/2017</td>
                            <td>Moderator</td>
                            <td><span class="status text-warning">&bull;</span> Inactive</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    function redirectToUpdateRoom() {
        window.location.href = "./suaphong";
    }
    function redirectToRoomIndex() {
        window.location.href = "./Index";
    }
</script>

