
@{
    ViewBag.Title = "Index";
}

<div class="container-content">
    <div class="module_name">
        <h6 class="module_name-tilte">
            Quản lý phòng bệnh
        </h6>
    </div>
    <div class="row">
        <div class="col l-6">
            <div class="container-content__view">
                <ul class="module_sub-list">
                    <li class="module__sub-item">
                        <a href="./addRoom" class="module_sub-list-link">
                            <span> Thêm phòng bệnh </span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="module__sub-item">
                        <a href="./searchRoom" class="module_sub-list-link">
                            <span> Sửa phòng bệnh </span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="module__sub-item">
                        <a href="./searchRoom" class="module_sub-list-link">
                            <span> Xóa phòng bệnh </span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

