
@{
    ViewBag.Title = "Index";
}

<div class="container-content">
    <div class="module_name">
        <h6 class="module_name-tilte">
            Quản lý nhân viên y tế
        </h6>
    </div>
    <div class="row">
        <div class="col l-6">
            <div class="container-content__view">
                <ul class="module_sub-list">
                    <li class="module__sub-item">
                        <a href="/nhan-vien-y-te/them-nhan-vien-y-te" class="module_sub-list-link">
                            <span> Thêm nhân viên y tế </span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="module__sub-item">
                        <a href="/nhan-vien-y-te/tim-kiem-nhan-vien-y-te" class="module_sub-list-link">
                            <span> Tìm kiếm nhân viên y tế </span> @*cho tìm kiếm trước*@
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
