
@{
    ViewBag.Title = "thongkecatuvong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Chart-->
<div class="container-content">
    <h1>
        THỐNG KÊ CA TỬ VONG
    </h1>

    <div class="container-fluid">
        <div class="card">

            <div class="row text-center">
                <div class="col-sm-12">
                    @using (Html.BeginForm("thongKeCaTuVong", "ThongKe", FormMethod.Post))
                    {
                        <h4>Chọn khoảng thời gian</h4>
                        <label for="startdate">Ngày bắt đầu:</label>
                        <input type="date" id="startdate" name="startdate">
                        <br />
                        <label for="enddate">Ngày kết thúc:</label>
                        <input type="date" id="enddate" name="enddate">
                        <br />
                        <button class="btn btn-outline-success">Hiển thị</button>
                    }
                </div>
            </div>

        </div>
    </div>
    <!-- /.chat-->
    <!--Datatable-->
    <div class="container-fluid">
        <table id="datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Số CMND</th>
                    <th>Số điện thoại</th>
                    <th>Ngày nhiễm bệnh</th>
                    <th>Phòng bệnh</th>
                    <th>Trạng thái hiện tại</th>
                </tr>
            </thead>
            <tbody id="tbody_thongke">
                <tr>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                    <td>STT</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white">
                        <div class="name__page">
                            <h4 class="name__page-tilte">
                                Biểu đồ số ca theo ngày
                            </h4>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="bieudotheongay"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white">
                        <div class="name__page">
                            <h4 class="name__page-tilte">
                                Biểu đồ số ca theo độ tuổi
                            </h4>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="bieudotheodotuoi"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white">
                        <div class="name__page">
                            <h4 class="name__page-tilte">
                                Biểu đồ tỉ lệ nam nữ
                            </h4>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="bieudonamnu"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Assets/js/thongKe.js"></script>